<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>

<div th:replace="/fragments/header :: header-css" />

</head>
<body>

	<div th:fragment="main">

		<h1 class="page-header">Rapor 1</h1>
	</div>

	<div th:fragment="main2">

		<h1 class="page-header">Analiz 1</h1>
	</div>

<div th:fragment="main3">

		<h1 class="page-header">Satış raporları 2</h1>
	</div>
	
	<div th:fragment="main4">

		<h1 class="page-header">Analiz 2</h1>
	</div>
</body>
</html>